<div class="container">
  <div id="form-login" class="row justify-content-center ">
    <form class="shadow bg-white rounded text-center col-8">
      <h1><b>TMS</b></h1>
      <div class="form-group row justify-content-center">
        <label for="userName" class="col-sm-5 col-form-label">User Name</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="inputUsername"
            placeholder="johnDoe"
          />
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <label for="password" class="col-sm-5 col-form-label">Password</label>
        <div class="col-sm-6">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="*********"
          />
        </div>
      </div>

      <div id="submitButton" class="form-group row justify-content-center">
        <div class="col-sm-7">
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            (click)="logIn()"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
